@import "../../common/style/colors";
@import "../../common/style/templates";
.contact_me {
  background-image: url("../../assets/images/bg-light-big.png");

  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  margin-top: 40px;
  padding-top:20px;
}
.contact_me_black {
  background-image: url("../../assets/images/bg-black-big.png");
}
.title {
  @extend %font-family;
  h2 {
    font-size: 4rem;
    color: $color-sub-main;
  }
  p {
    max-width: 400px;
  }
}
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 600px;
  margin-top: 90px;
  padding-bottom: 40px;
}
.info_main {
  display: flex;
  gap: 50px;
  width: 100%;
}
.info_main_item {
  width: 100%;
  padding: 15px;
  @extend %font-family;
  outline: none;
  border: none;
  box-shadow: 1px 0px 8px 3px rgba(0, 0, 0, 0.47);

  &:focus {
    outline: 2px solid rgba(220, 168, 141, 1);
  }
  &::placeholder {
    @extend %font-family;
    letter-spacing: 2px;
  }
}
.submit {
  max-width: 200px;
  width: 100%;
  margin-left: auto;
  padding: 10px;
  cursor: pointer;
  @extend %font-family;
  transition: all 400ms ease;
  background-color: white;
  border: 1px solid $color-sub-main;
  box-shadow: 1px 0px 8px 3px rgba(0, 0, 0, 0.47);
  color: $color-sub-main;
  letter-spacing: 3px;

  &:hover {
    background-color: black;
    color: white;
    border: none;
  }
}

@media screen and (max-width: "768px") {
  .contact_me_420 {
    padding: 20px;
  }
  
}
@media screen and (max-width:'650px'){
  .form{
    max-width: 400px;
    padding-right: 20px;
  }
}
@media screen and (max-width: "420px") {
  .title {
    padding-top: 40px;
  }
  .contact_me_420 {
    margin-left: -20px;
    margin-top: 20px;

    .title_420 {
      h2 {
        font-size: 2.5rem;
      }
      p {
        max-width: 360px;
      }
    }
  }
  .form_420 {
    max-width: 360px;
    padding-bottom: 120px;
  }
}
