@import './common/style/colors';

html{
  scroll-behavior: smooth;
}
body[data-theme='dark'] {
  --colors-text: hsl(0, 0%, 100%);
  --colors-bg: #231f20;

  --shadow: rgba(245, 245, 245, 0.2) 0 0 8px;
}
body[data-theme='light'] {
  --colors-text: hsl(200, 15%, 8%);
  --colors-bg: #fbfaf9;
  
  --shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

body {
  color: var(--colors-text);
  background-color: var(--colors-bg);
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color:inherit;
}